@import "../../assets/less/base.less";

.app-container_right{
  display: flex;
}

.app-content {
  display: flex;
  padding: 0.15rem;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  flex: 1;
  overflow-y: auto;
  & > div.ant-breadcrumb{
    width: 100%;
    padding: 0.15rem;
    background-color: #fff;
    margin-bottom: .15rem /* 15/100 */;
  }
  & > .app-route-container{
    flex: 1;
    width: 100%;
    display: flex;
    & > div{
      width: 100%;
      overflow-x: auto;
      & > .container{
        min-height: 100%;
        width: 100%;
      }
    }
  }
}