.app-table-search-bar{
  background-color: #fff;
  padding: 14px 0;
  .form-content{
    padding: 0;
    .ant-form-item{
      justify-content: flex-start;
    }
  }
}

.base-table{
  padding: 0 12px;
  padding-bottom: 30px;
}

