.app-table {
  padding: 14px;

  &-search-bar {
    background-color: #fff;

    .form-content {
      padding: 0;

      .ant-form-item {
        justify-content: flex-start;
      }
    }
  }

  &-selectarea {
    display: flex;
    align-items: center;

    &-btns {
      display: flex;
      align-items: center;
      margin-bottom: 0;

      .ant-form-item-label {
        display: none;
      }
    }
  }

  &-base-table {
    padding-bottom: 30px;
  }


}